
<div class="container">
  <h3>Авторизація</h3>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-outline-success">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Увійти
    </button>
    <a routerLink="/signup" class="btn btn-link">Зареєструватись</a>
  </div>
</form>
</div>
