.container{
    border: 3px dotted rgba(60,179,113,1);
    margin-top: 30px;
    overflow-y: scroll;
    height: 700px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
.ga-task{
    border: 3px solid rgba(60,179,113,0.5);
    margin-bottom: 5px;
    transition: .3s ease-in-out;
    height: 172px;
}
.ga-tip{
    border: 3px solid rgba(60,179,113,0.5);
    transition: .3s ease-in-out;
    height: 172px;
}
.ga-task-total{
    height: 345px;
    margin-top: 10px;
}
.ga-task-total:hover{
    border: 3px solid rgba(60,179,113,1);
}
.ga-tip:hover{
    border: 3px solid rgba(60,179,113,1);
}
.ga-task-header-container{
    padding: 20px;
}
.ga-task-header{
    color: darkslategray;
    margin-top: 30px;
}
.ga-image-container{
    margin-left: 70px;
    border: 1px solid mediumseagreen;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.ga-button-container{
    margin-top: 60px;
    display: flex
}
.ga-button{
    margin-left: 60px;
    height: 50px;
    width: 150px;
}
.ga-tip{
    margin-top: 0!important;
    padding: 20px;
}
.ga-tip-header{
    color: darkslategray;
    margin-top: 15px;
}
@media screen and (max-width: 1200px){
    .ga-tip{
        height: 220px;
    }
    .ga-task{
        height: 220px;
    }
}
@media screen and (max-width: 990px){
    .ga-task{
        display: block;
        height: 250px;
        text-align: center;
    }
    .ga-task .ga-button-container{
        margin-top: 20px;
    }
    .ga-task .ga-button-container .ga-image-container{
        margin-left: 55px;
    }

}
@media screen and (max-width: 768px){
    .ga-task{
        height: 300px;
    }
    .ga-tip{
        height: 300px;
    }
}
@media screen and (max-width: 515px) {
    .btn{
        width: 100px;
        height: 70px;
        margin-left: 10px;
    }
    .ga-image-container{
        margin-left: 1px!important;
    }
    .ga-button-container{
        padding: 3px;
    }
    .ga-task{
        height: auto;
    }
    .ga-tip{
        height: auto;
    }
}
