/*
mediumseagreen in rgba(60,179,113,1)
mediumseagreen(dark) in rgba(60,179,113,0.5)
*/
.container{
  border: 3px dotted rgba(60,179,113,1);
  margin-top: 30px;
  overflow-y: scroll;
  height: 700px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
}

@media screen and (max-width: 1200px){
.ga-tip{
  height: 220px;
}
.ga-task{
  height: 220px;
}
}
@media screen and (max-width: 990px){
  .ga-task{
    display: block;
    height: 250px;
    text-align: center;
  }
  .ga-task .ga-button-container{
    margin-top: 20px;
  }
  .ga-task .ga-button-container .ga-image-container{
    margin-left: 55px;
  }

}
@media screen and (max-width: 768px){
  .ga-task{
    height: 300px;
  }
  .ga-tip{
    height: 300px;
  }
}
@media screen and (max-width: 515px) {
.btn{
  width: 100px;
  height: 70px;
  margin-left: 10px;
}
.ga-image-container{
  margin-left: 1px!important;
}
.ga-button-container{
  padding: 3px;
}
.ga-task{
  height: auto;
}
.ga-tip{
  height: auto;
}
}



