<div class="container rounded shadow" *ngIf="user">
  <div *ngFor="let task of tasks">

    <div class="row ga-task rounded">
      <div class="ga-task-header-container col">
        <h3 class="ga-task-header">{{ task.name }}</h3>
        <span *ngFor="let tag of task.tags"> #{{tag}}</span>
      </div>
      <div class="col ga-button-container" >
        <div class="ga-image-container"><img id="{{task.name}}" [src]="" alt="" style="max-width: 100%; border-radius: 25px"></div>

        <button class="btn btn-outline-success ga-button" (click)="acceptTask(task.name)">Зроблено!</button>
        <button class="btn btn-outline-secondary ga-button" style="margin-left: 10px" (click)="refuseTask(task.name)">Іншим разом</button>
      </div>


    </div>
    <div class="row ga-tip rounded">
      <h4 class="ga-tip-header">{{task.description}}</h4>
      <span>{{task.text}}</span>
    </div>

  </div>

</div>
